<div class="row h-100">
    <div class="col-sm-12 col-md-8 col-lg-6 col-lx-5 my-auto mx-auto">
        <div class="row justify-content-between">
            <div class="col">
                <h2>GESTÃO DE ESTOQUE</h2>
            </div>
            <div class="col">
                <div class="d-flex justify-content-end">
                    <button>Novo</button>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-reponsible table-light table-striped">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        REAGENTE
                    </th>
                    <th>
                        LOTE
                    </th>
                    <th>
                        FABRICANTE
                    </th>
                    <th>
                        FABRICAÇÃO
                    </th>
                    <th>
                        VALIDADE
                    </th>
                    <th>
                        QNTD
                    </th>
                    <th>
                        EMBALAGEM ORIGINAL
                    </th>
                    <th>
                        CAS
                    </th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Acetonofalato de celulose</td>
                    <td>1507006</td>
                    <td>AUDAX</td>
                    <td>10/2015</td>
                    <td>10/2018</td>
                    <td>200g</td>
                    <td>Sim</td>
                    <td>9004-38-0</td>
                </tr>
            </table>
        </div>
    </div>
</div>