<div class="row h-100">
    <div class="col-sm-12 col-md-8 col-lg-6 col-lx-5 my-auto mx-auto">
        <div class="row justify-content-between">
            <div class="col">
                <h2>GESTÃO DE ESTOQUE</h2>
            </div>
            <div class="col">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-success" id="btnCad" data-bs-toggle="modal" data-bs-target="#modalCadastro">Novo</button>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table table-reponsible table-light table-striped align-middle text-center">
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        REAGENTE
                    </th>
                    <th>
                        LOTE
                    </th>
                    <th>
                        FABRICANTE
                    </th>
                    <th>
                        FABRICAÇÃO
                    </th>
                    <th>
                        VALIDADE
                    </th>
                    <th>
                        QNTD
                    </th>
                    <th>
                        EMBALAGEM ORIGINAL
                    </th>
                    <th>
                        CAS
                    </th>
                    <th>
                        AÇÕES
                    </th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Acetonofalato de celulose</td>
                    <td>1507006</td>
                    <td>AUDAX</td>
                    <td>10/2015</td>
                    <td>10/2018</td>
                    <td>200g</td>
                    <td>Sim</td>
                    <td>9004-38-0</td>
                    <td class="d-flex flex-column">
                        <button class="btn mb-1 btn-outline-success">EDITAR</button>
                        <button class="btn btn-outline-danger">EXCLUIR</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Acetonofalato de celulose</td>
                    <td>1507006</td>
                    <td>AUDAX</td>
                    <td>10/2015</td>
                    <td>10/2018</td>
                    <td>200g</td>
                    <td>Sim</td>
                    <td>9004-38-0</td>
                    <td class="d-flex flex-column">
                        <button class="btn mb-1 btn-outline-success">EDITAR</button>
                        <button class="btn btn-outline-danger">EXCLUIR</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Acetonofalato de celulose</td>
                    <td>1507006</td>
                    <td>AUDAX</td>
                    <td>10/2015</td>
                    <td>10/2018</td>
                    <td>200g</td>
                    <td>Sim</td>
                    <td>9004-38-0</td>
                    <td class="d-flex flex-column">
                        <button class="btn mb-1 btn-outline-success">EDITAR</button>
                        <button class="btn btn-outline-danger">EXCLUIR</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal" id="modalCadastro">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title  ">Cadastrar novo produto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" method="post" action="">
                    <div class="mb-3">
                        <label for="reagente" class="form-label">Reagente:</label>
                        <input type="text" class="form-control" id="reagente" aria-describedby="emailHelp" required>
                    </div>
                    <div class="mb-3">
                        <label for="lote" class="form-label">Lote:</label>
                        <input type="text" class="form-control" id="lote" required>
                    </div>
                    <div class="mb-3">
                        <label for="fabricante" class="form-label">Fabricante:</label>
                        <!--<input type="text" class="form-control" id="fabricante">-->
                        <select class="form-select" name="" id="" required>
                            <option value="">Fabricante...</option>
                            <option value="">AUDAX</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="fabricacao" class="form-label">Data de Fabricação:</label>
                        <!--<input type="month" class="form-control" id="fabricacao" required>-->
                        <input type="date" class="form-control" id="fabricacao" required>
                    </div>
                    <div class="mb-3">
                        <label for="validade" class="form-label">Data de Validade:</label>
                        <!--<input type="month" class="form-control" id="validade">-->
                        <input type="date" class="form-control" id="validade" required>
                    </div>
                    <div class="mb-3">
                        <label for="qntd" class="form-label">Qntd.:</label>
                        <input type="text" class="form-control" id="qntd" required>
                    </div>
                    <div class="mb-3">
                        <label for="cas" class="form-label">CAS:</label>
                        <input type="text" class="form-control" id="cas" required>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Original:</label>
                        <div class="form-check ms-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" required>
                            <label class="form-check-label" for="flexRadioDefault1">
                                Sim
                            </label>
                        </div>
                        <div class="form-check ms-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" required>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Não
                            </label>
                        </div> 
                    </div>
                    <div class="d-flex modal-footer mb-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="send">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>
<script src="/resources/js/index.js"></script>